* {
font-family: 'Montserrat', sans-serif;
}
body {
  margin: 0;
}
.loading {
  background-color: rgba(0,0,0,0.9);
  position: fixed;
  left:0;
  right:0;
  top:0;
  bottom:0;
  text-align: center;
  /* display: flex;
  flex-wrap:wrap;
  justify-content: center;
  align-content: center; */
}
.loading img {
  width: 20%;
  margin-top:33vh;
}
.loading h2 {
  color:white;
  flex-basis: 100%;
  margin-top: 30px;
}
#form {
  height:100vh;
  background: url('./images/bg.jpg') center;
  background-size: cover;
}
.form-container {
  margin: 0 auto;
}
h1 {
  font-size: 8em;
  color:white;
  font-weight: 700;
  text-align: center;
  margin: 0;
  padding-top: 100px;
  padding-bottom: 60px;
  text-shadow: 0 0 10px #333333;
  font-family: 'Sacramento', cursive;

}
form {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap:wrap;
}
form input {
  font-size: 30px;
  border-radius: 10px;
  background-color: rgba(255,255,255,0.4);
  color:#ffffff;
  border:none;
  padding: 15px;
  text-align: center;
}
form input:hover {
  cursor: pointer;
}
form label {
    color:white;
    flex-basis:100%;
    margin-bottom: 30px;
    margin-top: 10px;
  }
form button {
  background-color: #981388;
  color:white;
  font-weight: 700;
  font-size: 25px;
  padding: 20px;
  border-radius: 50px;
  border:none;
}
form button:hover {
  background-color:white;
  color:#981388;
  cursor: pointer;
  }
.fortune {
  width: 100%;
  max-width: 1250px;
  color:#575F71;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  align-items: center;
}
.fortune header {
  flex-basis: 100%;
  text-align: center;
}
.fortune header img {
  width: 200px;
}
.fortune header h2 {
  font-size: 40px;
  margin-top: 20px;
}
.fortune header p {
  padding: 0 20px;
  font-size: 18px;
  line-height: 1.8;
  margin: 30px auto;
}
.fortune .fortune-details {
  flex-basis: 43%;
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 10px;
}
.fortune .pokemon-image {
  text-align: center;
}
.fortune .pokemon-image img {
  width: 140px;
}
.fortune main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#fortune-container {
  width: 70%;
  margin: 0 auto;
}
h2 {
  color: #575F71;
  font-weight: 700;
  text-align: center;
  margin: 0;
}
.fortune #top {
  position: fixed;
  right: 20px;
  bottom: 30px;
  background-color: #981388;
  color:white;
  font-weight: 700;
  font-size: 25px;
  padding: 10px;
  border-radius: 10px;
  border:none;
}
.fortune #top:hover {
  background-color:white;
  color:#981388;
  cursor: pointer;
}
.left {
  order:-1;
}
.right {
  order:13;
}
.hidden {
  display: none;
}
@media only screen and (max-width:1024px) {
  h1 {
    font-size: 6em;
  }
  #fortune-container {
    width: 80%;
  }
}
@media only screen and (max-width:768px) {
  #form {
    background: url('./images/bg-vertical.jpg') center;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  h1 {
    font-size: 70px;
    padding-top: 0;
    padding-bottom: 30px;
  }
  form {
    flex-wrap: wrap;
    margin-bottom: 100px;
  }
  form input {
    flex-basis: 70%;
  }
  .fortune {
    height: auto;
  }
  .fortune .fortune-details {
    margin-bottom: 30px;
    flex-basis: 100%;
  }
  #fortune-container {
    margin-top: 30px;
  }
  .fortune header img {
    width: 150px;
  }
}
@media only screen and (max-width:414px) {
  h1 {
    font-size: 50px;
    padding-bottom: 40px;
  }
  form input {
    font-size: 25px;
  }
  form button {
    font-size: 20px;
    padding: 15px;
    border-radius: 30px;
  }
}
